<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadrao">
<head>
	<title>Cadastro de Eventos</title>
	<!--<title th:if="${evento.isNovo}">Cadastro de Eventos</title>
	<title th:unless="${evento.isNovo}">Edição de Evento</title>-->
	
	  <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
      <link type="text/css" rel="stylesheet" th:href="@{materialize/css/materialize.min.css}"  media="screen,projection"/>
	  <link type="text/css" rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css}"/>
	  <link rel="stylesheet" th:href="@{materialize/css/styles.css}">
	
</head>
<div th:insert="~{navbar :: cabecalho}"></div>
<section layout:fragment="conteudo">
	<br>
	<div class="container">
	  
		<div class="row">
			<div class="col s12 m8">

				<div class="card">
					<div class="card-content">
						<div class="row">
							<div class="col s12 m6 l6">
								<h5>Cadastro de Eventos</h5>
							</div>
							<div class="col s12 m6 l6">
							<h6><a th:href="@{/eventos}" 
								class="waves-effect waves-light btn right #2979ff blue accent-3"><i
									class="material-icons left">format_list_bulleted</i>Lista de Eventos</a>
						</h6>
						</div>
						</div>
						<form th:action="@{/eventos}" th:object="${evento}" method="POST">
							<div th:include="Mensagem"></div>	
								<input type="hidden" th:field="*{codigo}" name="codigo"/>
								<div class="input-field col s12" >
									<input type="text" id="descricao" name="descricao" th:field="*{descricao}"/>
									<label for="descricao">Descrição do Evento</label>
								</div>
								<div class="input-field col s12"  >
									<input type="text"  id="local" name="local" th:field="*{local}"/>
									<label for="local">Local</label>
								</div>
								<div class="input-field col s6" >
									<input type="text" 	id="dataEvento" name="dataEvento" th:field="*{dataEvento}"/>
									<label for="dataEvento">dd/MM/yyyy</label>
								</div>
								<div class="input-field col s6" >
									<input type="time"  id="horario" name="horario"
										class="autocomplete" placeholder="Horário" th:field="*{horario}" />
									<label for="horario"></label>
								</div>
								<div class="row">
									<div class="col s9 offset-s2">
									  <button type="submit"
									  	class="waves-effect waves-light btn right #2979ff blue accent-3" 
											  >Salvar</button>
									</div>
								</div>
							
						</form>
					</div>
				</div>
			</div>
		  </div>
	     </div>
	   </div>
	 </div>
</section>

	<script type="text/javascript" th:src="@{materialize/js/materialize.min.js}"></script>	
	<script type="text/javascript" th:src="@{materialize/js/jquery.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js}"></script>
		<script>
		document.addEventListener('DOMContentLoaded', function () {
			var elems = document.querySelectorAll('.datepicker');
			var instances = M.Datepicker.init(elems, options);
		});

		// Or with jQuery

		$(document).ready(function () {
			$('.datepicker').datepicker();
		});
	</script>

</html>